<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--<section name="log4net" type="Log4Net.Config.Log4NetConfigurationSectionHandler, log4net"/> -->
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="businessObjects"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="d:\MSILogs\log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="10001"/>
    <add key="submitApprovedUserId" value="msibilling"/>
    <add key="submitApprovedEmail" value="msibilling@msistaff.com"/>
    <add key="submitApprovedPwd" value="metroStaffInc60!23"/>
  </appSettings>
  <connectionStrings>
    <!-- Security Connection Strings  172.31.244.51 LIVE  172.18.10.230 DEV 52.10.180.117 AWS DB-->
    <!--- 3cc db PROD-SQL-01 -->
    <!-- msiSTAGING.cdqjihwbw7hi.us-west-2.rds.amazonaws.com AWS-->
    <!--
    <add name="SqlServices_DEMO" providerName="System.Data.SqlClient" connectionString="Data Source=300N-CJ;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=wtiis;pwd=money123;"/>
    <add name="SqlServices
    
    " providerName="System.Data.SqlClient" connectionString="Data Source=300N-CJ;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=sa;pwd=Money123"/>
    <add name="SqlServices_SMOKE" providerName="System.Data.SqlClient" connectionString="Data Source=300N-CJ;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=marketstaffindustrial;pwd=money123"/>
    <add name="SqlServices_STAGE" providerName="System.Data.SqlClient" connectionString="Data Source=300N-WS001;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial_stage;Integrated Security=False;uid=marketstaffindustrial;pwd=money123"/>
    -->
    <add name="SqlServices_DEVMSI" providerName="System.Data.SqlClient" connectionString="Data Source=STAGING-01\STAGING;Persist Security Info=True;Initial Catalog=MarketStaffIndustrial.MSI;Integrated Security=True"/>
    <add name="SqlServices_DEV" providerName="System.Data.SqlClient" connectionString="Data Source=STAGING-01\STAGING;Persist Security Info=True;Initial Catalog=MarketStaffIndustrial.MSI;Integrated Security=True"/>
    <!--;uid=wtiis;pwd=money123-->
    <add name="SqlServices_PROD" providerName="System.Data.SqlClient" connectionString="Data Source=STAGING-01\STAGING;Initial Catalog=MarketStaffIndustrial.MSI;Integrated Security=True"/>
    <!--;uid=wtiis;pwd=money123-->
    <!-- uid=wtiis;pwd=money123" -->
    <!-- Application Connection Strings-->
    <!--
  <add name="ETicketDataAccess_DEMO" providerName="System.Data.SqlClient" connectionString="Data Source=300N-CJ;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=sa;pwd=money123"/>
    <add name="ETicketDataAccess_DEV" providerName="System.Data.SqlClient" connectionString="Data Source=300N-CJ-02;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=sa;pwd=Money123"/>
    <add name="ETicketDataAccess_SMOKE" providerName="System.Data.SqlClient" connectionString="Data Source=300N-CJ;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=marketstaffindustrial;pwd=money123"/>
    <add name="ETicketDataAccess_STAGE" providerName="System.Data.SqlClient" connectionString="Data Source=300N-WS001;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial_stage;Integrated Security=False;uid=marketstaffindustrial;pwd=money123"/>
    <add name="ETicketDataAccess_PROD" providerName="System.Data.SqlClient" connectionString="Data Source=172.31.244.51;Timeout=390;Persist Security Info=True;Initial Catalog=marketstaffindustrial;Integrated Security=False;uid=wtiis;pwd=money123"/>
  -->
    <!--<add name="SqlServices_3CC" providerName="System.Data.SqlClient" 
         connectionString="Data Source=MSI-02-05720;Persist Security Info=True;User ID=JMurfey;Password=Emp!0ysr(;Initial Catalog=marketstaffindustrial;" />-->
    <!--connectionString="Data Source=PROD-SQL-01;Trusted_Connection=YES;Timeout=30;Persist Security Info=True;Initial Catalog=marketstaffindustrial;"-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="SqlServices_DEV"/>
  <!--<dataConfiguration defaultDatabase="SqlServices_3CC"/>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices_DEV" applicationName="ETicket" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="100" passwordAttemptWindow="1"/>
        <!--<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices_3CC" applicationName="ETicket" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="100" passwordAttemptWindow="1"/>-->
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="300" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <remove name="AspNetSqlRoleProvider"/>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices_DEV" applicationName="ETicket"/>
      </providers>
    </roleManager>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during STAGING.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="anon/Login.aspx" protection="All" timeout="15" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <location path="auth">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="ETicket"/>
      </providers>
    </profile>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="d:\MSILogs\Log.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="d:\MSILogS\log4net.log"/>
      <preserveLogFileNameExtension value="true"/>
      <datePattern value="yyyy-MM-dd"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=STAGING-01\STAGING;Trusted_Connection=YES;Timeout=30;Persist Security Info=True;Initial Catalog=MarketStaffIndustrial.MSI;"/>
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)"/>
      <bufferSize value="1"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%thread"/>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout" value="%level"/>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%logger"/>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout" value="%message"/>
      </parameter>
    </appender>
  </log4net>
</configuration>